In [186]:
import pandas as pd
import numpy as np

cost=pd.read_csv('창업비용.csv')
cost1=cost.drop(['시도별(1)','산업별(1)','2019.2','2019.3','2019.4','2019.5','2019.6','2019.7','2019.8','2019.9','2019.10','2019.2'],axis=1)
cost2=cost1.rename(columns={'2019':'사업체수 (개)','2019.1':'총 창업비용 (백만원)','산업별(2)':'산업'})
cost3=cost2.drop(index=[0,1,6,7],axis=0)
cost4=cost3.replace(['소매업; 자동차제외'],'소매')
cost5=cost4.replace(['숙박업'],'숙박')
cost6=cost5.replace(['음식점 및 주점업'],'식음료')
cost7=cost6.replace(['소계'],'문화/레져')
cost7
#cost8=cost7['사업체수 (개)'].div(cost7['총 창업비용 (백만원)'])
#cost7['평균 창업비용'] = cost7['사업체수 (개)'] / cost7['총 창업비용 (백만원)']

      산업 사업체수 (개) 총 창업비용 (백만원)
2     소매   216607     19934336
3     숙박    13963      5829243
4    식음료   287679     25828739
5  문화/레져    39917      5721573

In [197]:
a = int(cost7.values[0,2]) / int(cost7.values[0,1]) 
avr_sales=int(a) * 1000000
b= int(cost7.values[1,2]) / int(cost7.values[1,1]) 
avr_hotels=int(b) * 1000000
c = int(cost7.values[2,2]) / int(cost7.values[2,1]) 
avr_foods=int(c) * 1000000
d = int(cost7.values[3,2]) / int(cost7.values[3,1]) 
avr_culture=int(d) * 1000000
AVR=pd.DataFrame({'업종명':['소매','숙박','식음료','문화/레져'], '평균 창업비용(원)':[avr_sales,avr_hotels,avr_foods,avr_culture]})
AVR

     업종명  평균 창업비용(원)
0     소매    92000000
1     숙박   417000000
2    식음료    89000000
3  문화/레져   143000000

In [198]:
AVR.to_csv('평균 창업비용.csv')